    
    body { background-color:#F3EAE3; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    .botao {
    background-image: url("carrinho.png");
    background-color: #3E8168;
    font-family: "Questrial", sans-serif;
    font-size: normal;
    position: absolute;
    top: 280px;
    left: 20px;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 40px;
    padding-left: 20px;
    cursor: pointer;
    transition: all 1.2s
    ease-in-out 0s;
    display: block;
    }

    .botao-mob{
        display: none;
    }

    .botao:hover{
        background-image: url("carrinho.png");
        background-color: #3E8168;
        color: white;
        transform: scale(1.05);
        cursor: pointer;
        display: block;
    }

    .botao-mob:hover{
        display: none;
    }


        .conteudo {
            display: flex;
            align-items: center;
        }

        .imagemdesktop {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 220px;
            height: auto;
            margin: auto;
            display: block;
        }

        .imagemmobile {
            display: none;
        }

        .caixa-branca {
            background-color: white;
            padding: 20px;
            width: 200px;
            height: 290px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: relative;

        }

        .perfume {
        font-family: "Questrial", sans-serif;
        font-style: normal;
        position: absolute;
        top: 5px;
        left: 30px;
        letter-spacing: 5px;
        color: #8E8D91;
        font-weight: 600;
        display: block;
        }

        .perfume-mob {
            display: none;
        }

        .floral 
        {
        font-family: "Questrial", sans-serif;
        font-style: normal;
        position: absolute;
        top: 140px;
        left: 30px;
        letter-spacing: 1px;
        color: #8E8D91;
        font-weight: 600;
        font-size: 10px;
        line-height: 1.8;
        display: block;
        }

        .floral-mob{
            display: none;
        }

        .pant
        {
        font-family: "Questrial", sans-serif;
        font-style: normal;
        position: absolute;
        top: 223px;
        left: 135px;
        letter-spacing: 1px;
        color: #8E8D91;
        font-weight: 600;
        font-size: 13px;
        line-height: 1.8;
        text-decoration: line-through;
        display: block;
        }

        .pant-mob{
            display: none;
        }

        .gabrielle {
         font-family: "Taviraj", serif;
         font-weight: 800;
         font-style: normal;
         position: absolute;
         top: 33px;
         left: 30px;
         color: #161B1F;
         font-size: 4dvh;
         line-height: 1.0;
         letter-spacing: -0.5px;
         display: block;
        } 

        .gabrielle-mob{
            display: none;
        }

        .preal{
         font-family: "Source Serif 4", serif;
         font-weight: 800;
         font-style: normal;
         position: absolute;
         top: 210px;
         left: 30px;
         color: #3E8168;
         font-size: 4dvh;
         line-height: 1.0;
         display: block;
        } 

        .preal-mob{
            display: none;
        }









        @media only screen and (max-width: 600px) {
            /* Estilos para dispositivos com largura máxima de 600 pixels (geralmente smartphones) */

            body{
                margin: 0;
            }

            .conteudo {
                flex-direction: column; /* Empilha os elementos verticalmente */
                align-items: center; /* Centraliza os itens verticalmente */
                margin-right: 8px;
            }
        
            .imagemdesktop {
                display: none; /* Reduz a largura da imagem */
            }

            .imagemmobile {
                display: block;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 335px;
            }
        
            .caixa-branca {
                width: 295px;
                height: 330px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 0px;
                 /* Ajusta a largura da caixa branca */
            }

            .botao{
                display: none;
            }

            .botao:hover{
                display: none;
            }

            .botao-mob{
                background-image: url("carrinho.png");
                background-color: #3E8168;
                font-family: "Questrial", sans-serif;
                font-size: 16px;
                position: absolute;
                top: 310px;
                left: 22px;
                color: white;
                border: none;
                width: 290px;
                height: 45px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                font-weight: 600;
                text-align: center;
                background-size: 35px;
                background-repeat: no-repeat;
                background-position: 80px;
                padding-left: 40px;
                cursor: pointer;
                transition: all 1.2s
                ease-in-out 0s;
                display: block;            
            }

            .botao-mob:hover{
                background-image: url("carrinho.png");
                background-color: #3E8168;
                color: white;
                transform: scale(1.05);
                cursor: pointer;
                display: block;
            }

            .floral{
                display: none;
            }

            .floral-mob{
                font-family: "Questrial", sans-serif;
                font-style: normal;
                position: absolute;
                top: 120px;
                left: 20px;
                letter-spacing: 1px;
                color: #8E8D91;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.8;
                display: block;
            }

            .gabrielle{
                display: none;
            }

            .gabrielle-mob{
                font-family: "Taviraj", serif;
                font-weight: 800;
                font-style: normal;
                position: absolute;
                top: 30px;
                left: 20px;
                color: #161B1F;
                font-size: 28px;
                line-height: 1.0;
                letter-spacing: -0.5px;
                display: block;
            }

            .pant{
                display: none;
            }

            .pant-mob{
                font-family: "Questrial", sans-serif;
                font-style: normal;
                position: absolute;
                top: 242px;
                left: 160px;
                letter-spacing: 1px;
                color: #8E8D91;
                font-weight: 600;
                font-size: 16px;
                line-height: 1.8;
                text-decoration: line-through;        
                display: block;
            }

            .preal{
                display: none;
            }

            .preal-mob{
                font-family: "Source Serif 4", serif;
                font-weight: 800;
                font-style: normal;
                position: absolute;
                top: 222px;
                left: 20px;
                color: #3E8168;
                font-size: 35px;
                line-height: 1.0;
                display: block;
            }

            .perfume{
                display: none;
            }

            .perfume-mob{
                font-family: "Questrial", sans-serif;
                font-style: normal;
                position: absolute;
                top: 3px;
                left: 20px;
                letter-spacing: 5px;
                color: #8E8D91;
                font-weight: 600;
                display: block;
                display: block;
            }
        
        }
    
